.center {
  text-align: center;
  color: blue;
}
body {
  background-color: yellow
}
.dog {
  image-orientation: center;
}
.marqee {
  color: green
}
h1 {
  font-family: copperplate, papyrus, fantasy;
}
.dogstuff {
  display: flex
}
